<div class="background">


    <div id="direita">
    <h1 class="">Sistema de Gerenciamento de Patrimônios</h1>

    <p>Seja bem vindo ao Sistema de Gerenciamento de Patrimônios!<br>
    Para interagir com o sistema, favor utilizar o menu no topo da página.</p>
    </div>
    <div class="logo-unifei">
    <img src="/images/LogoUnifei.gif"/>
    </div>
</div>