<h1>Relat칩rio de Patrimonio / Respons치vel</h1>

<table>
  <thead>
    <tr>
      <th>asd</th>
      <th>dsa</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>asd</td>
      <td>dsa</td>
    </tr>
  </tbody>
</table>

<img src="<%#= Gchart.pie_3d(:title => 'Patrimonio por respons치veis', :size => '400x300',
                            :data => [20, 35, 45],
                            :labels => ["asdasd", "asdasddddd", "qweqwe"]) %>">

<script type="text/javascript">

    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', {'packages':['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([<% @rel.each do |item| %>
            ['<%= item.responsible.name %>', <%= item.responsible.patrimonies.count %>],
                <% end %>
            /*['Mushrooms', 3],
            ['Onions', 1],
            ['Olives', 1],
            ['Zucchini', 1],
            ['Pepperoni', 2]*/
        ]);

        // Set chart options
        var options = {'title':'Patrimonio por respons치veis',
            'width':400,
            'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>

<div id="chart_div"></div>



<%#= debug @rel1 %>
<%#= debug @rel2 %>
<%#= debug @rel3 %>
<%#= debug @rel4 %>

<%#= debug @rel %>