<p>Olá <%= @resource.email %>!</p>

<p>Alguém requisitou um link para alterar sua senha. Você pode fazer isto através do link abaixo.</p>

<p><%= link_to 'Alterar Senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
